@import url(https://fonts.googleapis.com/css?family=Roboto:500,700);

input[type=text], select {
  width: 100%;
  font: 300 0.8em/0.8 'Roboto', sans-serif;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

